body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 1100px;
    margin: 50px auto;
    background-color: #128be1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    display: block;
    margin: 0 auto 20px auto; 
    width: 300px; 
    height: 200px; 
}

input[type="text"] {
    width: 80%; 
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

.sticky-notes {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; 
}


.note {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    min-height: 150px;
    word-wrap: break-word; 
    color: white;
}
.note {
    position: relative;
    display: inline-block;
    padding: 8px;
    margin: 8px;
    background-color: #f0f0f0;
    border-radius: 8px;
}

.close {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #888;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover {
    color: #f44336;
}

